# OS specific
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store

# IDE and Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.swp
*~

# Logs and runtime
*.log
npm-debug.log*

# Node / Build artifacts
node_modules/
dist/
